@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --neutral-0: #ffffff;
  --neutral-50: #ececec;
  --neutral-200: #62717980;
  --neutral-300: #6F6F6F;
  --neutral-400: #627179;
  --primary-100: #72CAC3;

  --green: #ACD6C3;
  --red: #EC2525;
  
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  color: var(--neutral-400);

  &:focus {
    outline: none;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 14px;
  }
}

body {
  background: var(--neutral-50);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}

.error-text {
  color: #b40e0e;
}