.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2em;

  h1 {
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 1rem;

    span {
      color: var(--primary-100);
    }
  }
}

.imgBx {
  display: flex;
  justify-content: center;
  width: 18.3rem;
  margin: 8rem 0 5.5rem;

  img {
    width: 100%;
  }
}

.errorBx{
  height: 5rem;
  margin: 1rem 0;
}


.error{
  text-align: center;
  color: var(--red);
  font-size: 1.4rem;
  font-weight: 600;
}

.form {
  width: 100%;
  padding: 0 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;

  label {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }

  div {
    position: relative;
    width: 100%;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 1rem;
    }

    svg {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      margin-left: 1rem;
      cursor: pointer;
    }

    input {
      border: 1px solid var(--neutral-300);
      border-radius: 0.8rem;
      padding: 1rem 1rem 1rem 3.5rem;
      width: 100%;
      transition: 200ms;

      &:focus{
        border-color: var(--primary-100);
      }

      &::placeholder {
        font-size: 1.2rem;
      }
    }
  }
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;

  button {
    width: min-content;
    background-color: var(--neutral-400);
    border: none;
    color: var(--neutral-0);
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1rem 5rem;
    border-radius: 1rem;
    transition: 200ms;
  }
}
