.nav {
  margin-top: 2rem;
  transform: translateY(1px);

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      z-index: 2;
      width: calc(100vw / 3);
      display: flex;
      justify-content: center;
    }

    button {
      display: flex;
      align-items: center;
      background-color: unset;
      border: unset;
      transition: 300ms;

      &:hover {
        scale: 1.05;
      }

      img {
        width: 2rem;
      }
    }
  }
}

.active {
  background-color: var(--neutral-0);
  padding: 1.2rem 2.4rem;
  border-radius: 1.5rem 1.5rem 0 0;

  p {
    margin-left: 0.5rem;
  }
}

.main {
  background-color: var(--neutral-0);
  box-shadow: 0.5px -0.5px 25px 0px rgba(98, 113, 121, 0.25);
  border-radius: 0 1.5rem 0 0;
  padding: 1.5rem 1.5rem 4rem;
  height: calc(100vh - 5.8rem - 4.4rem - 7.5rem - 2rem);
}

.formsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem;
  border-bottom: 1px solid var(--neutral-400);

  h1 {
    font-weight: 500;
    font-size: 1.8rem;
  }

  button {
    color: var(--neutral-0);
    background-color: var(--green);
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    font-weight: 600;
  }
}

.form {
  height: 100%;
  padding: 1.5rem 0;
}

.smallFields {
  display: flex;
  flex-direction: column;
}

.fieldBlocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 2rem;

  label {
    font-size: 1.4rem;
    margin: 0.3rem 0;
  }

  input,
  textarea {
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-200);

    &::placeholder {
      color: var(--neutral-200);
    }
  }
}

.descriptionfield {
  width: 100%;
  height: calc(100vh - 61rem);

  textarea {
    height: 100%;
    border-radius: 1.2rem;
    padding: 0.8rem;
    resize: none;
  }
}

.spinnerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}