.detailsContainer{

    h1{
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    p{
        margin: 0.5rem 0;
        font-size: 1.4rem;
        text-align: justify;
    }

    h2{
        font-size: 1.8rem;
        margin-top: 3rem;
    }
}