.placeholder {
  text-align: center;
}

.newEvolutionBtn {
  text-align: center;

  button {
    padding: 0.8rem 3rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--neutral-400);
    color: var(--neutral-0);
    font-size: 1.4rem;
    margin-top: 2rem;
  }
}
